<%- include('../partials/header') %>
    <h2>In Home</h2>
<table id="in-home">
  <thead>

    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Owned</th>
      <th>Username<br>Avatar</th>

    </tr>
  </thead>
<tbody>
    <% inHomeItems.forEach(function(i) { %>  
      <tr>

      <td><%= i.title %></td> 
      <td><%= i.location %></td>
      <td><%= i.itemStatus %></td>
      <td><%= i.userName %></td>
       <td> <%= i.userAvatar %></td>
       <td><a href="/items/<%= i._id %>">Item Details</a>
       </td>
     <td><% i.details.forEach(detail => { %>
       <%= detail.color %>
       <%= detail.link %>
       <%= detail.keep %>
       <%= detail.moreDetails %>

     <% }) %>
     <form action="/items/<%= i.id %>?_method=DELETE" 
      class="delete-form" method="POST">
    <button type="submit">X</button>
    </form>
   </td>         
  </tr>

    <% }); %>
</tbody>
</table>
      <h2>Desired</h2>

      <table id="desired">
        <thead>
      
          <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Owned</th>
            <th>Username<br>Avatar</th>
      
          </tr>
        </thead>
      <tbody>
          <% desiredItems.forEach(function(i) { %>  
            <tr>
      
            <td><%= i.title %></td> 
            <td><%= i.location %></td>
            <td><%= i.itemStatus %></td>
            <td><%= i.userName %></td>
              <td><%= i.userAvatar %></td>
            <td><a href="/items/<%= i._id %>">Item Details</a>
              </td>
            <td><% i.details.forEach(detail => { %>
              <%= detail.color %>
              <%= detail.link %>
              <%= detail.keep %>
              <%= detail.moreDetails %>
              
            <% }) %>
            <form action="/items/<%= i.id %>?_method=DELETE" 
              class="delete-form" method="POST">
            <button type="submit">X</button>
            </form>
          </td>  
            </tr>          
        <% }); %>

      </tbody>
      </table>



<%- include('../partials/footer') %>