<%- include('../partials/header') %>

<div class="container">
  <h2 class="index-h2">In Home</h2>
  <table id="in-home" class="index-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Location</th>
        <th>Owned</th>
        <th>Username<br>Avatar</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% inHomeItems.forEach(function(item) { %>
        <tr>
          <td><%= item.title %></td>
          <td><%= item.location %></td>
          <td><%= item.itemStatus %></td>
          <td><%= item.userName %></td>
          <td><%= item.userAvatar %></td>
          <td><a href="/items/<%= item._id %>">Item Details</a></td>
          <td>
            <% item.details.forEach(function(detail) { %>
              <%= detail.color %>
              <%= detail.link %>
              <%= detail.keep %>
              <%= detail.moreDetails %>
            <% }) %>
          </td>
          <td>
            <form action="/items/<%= item._id %>?_method=DELETE" class="delete-form" method="POST">
              <button type="submit">X</button>
            </form>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<div class="container">
  <h2 class="index-h2">Desired</h2>
  <table id="desired" class="index-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Location</th>
        <th>Owned</th>
        <th>Username<br>Avatar</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% desiredItems.forEach(function(item) { %>
        <tr>
          <td><%= item.title %></td>
          <td><%= item.location %></td>
          <td><%= item.itemStatus %></td>
          <td><%= item.userName %></td>
          <td><%= item.userAvatar %></td>
          <td><a href="/items/<%= item._id %>">Item Details</a></td>
          <td>
            <% item.details.forEach(function(detail) { %>
              <%= detail.color %>
              <%= detail.link %>
              <%= detail.keep %>
              <%= detail.moreDetails %>
            <% }) %>
          </td>
          <td>
            <form action="/items/<%= item._id %>?_method=DELETE" class="delete-form" method="POST">
              <button type="submit">X</button>
            </form>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('../partials/footer') %>
